/* CSS Document */
@charset "utf-8";

/*******************
clearfix starts
********************/
.cf:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.cf {
    display: block;
}
html[xmlns] .cf {
    display: block;
}
* html .cf {
    height: 1%;
}
/*clearfix ends */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    display: block;
    margin: 0 auto;
}
.tcenter {
    text-align: center;
}
.tleft {
    text-align: left;
}
.tright {
    text-align: right;
}
.wdt100 {
    width: 100%;
}
.wdt40 {
    width: 40%;
}
.wdt50 {
    width: 50%;
}
.wrap {
    width: 1180px;
    margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 22px;
}
a {
    color: inherit;
    text-decoration: none;
}
.block,
.show.show {
    display: block;
}
.section_padding {
    margin-top: 70px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.sec {
    padding: 80px 0;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
}
textarea {
    padding: 10px;
    min-height: 220px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}
input.full {
    width: 100%;
}
/****************************
Responsive Grid starts
Reference: http://www.responsivegridsystem.com/
******************************/
/*  SECTIONS */
.section {
    clear: both;
    padding: 0;
    margin: 0;
}
/*  GROUPING */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   */
.col {
    display: block;
    float: left;
    margin: 0 0 0 1.6%;
}
.col:first-child,
.span_6_of_12:nth-child(2n + 1),
.span_3_of_12:nth-child(4n + 1),
.span_4_of_12:nth-child(3n + 1) {
    margin-left: 0;
} /* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and(max-width: 480px) {
    .col {
        margin: 1% 0;
    }
}
/*  GRID OF TWELVE   */
.span_12_of_12 {
    width: 100%;
}
.span_11_of_12 {
    width: 91.53%;
}
.span_10_of_12 {
    width: 83.06%;
}
.span_9_of_12 {
    width: 74.6%;
}
.span_8_of_12 {
    width: 66.13%;
}
.span_7_of_12 {
    width: 57.66%;
}
.span_6_of_12 {
    width: 49.2%;
}
.span_5_of_12 {
    width: 40.73%;
}
.span_4_of_12 {
    width: 32.26%;
}
.span_3_of_12 {
    width: 23.8%;
}
.span_2_of_12 {
    width: 15.33%;
}
.span_1_of_12 {
    width: 6.86%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and(max-width: 480px) {
    .span_12_of_12 {
        width: 100%;
    }
    .span_11_of_12 {
        width: 100%;
    }
    .span_10_of_12 {
        width: 100%;
    }
    .span_9_of_12 {
        width: 100%;
    }
    .span_8_of_12 {
        width: 100%;
    }
    .span_7_of_12 {
        width: 100%;
    }
    .span_6_of_12 {
        width: 100%;
    }
    .span_5_of_12 {
        width: 100%;
    }
    .span_4_of_12 {
        width: 100%;
    }
    .span_3_of_12 {
        width: 100%;
    }
    .span_2_of_12 {
        width: 100%;
    }
    .span_1_of_12 {
        width: 100%;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/**********************
btn starts
**********************/
.btn.btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: all 0.5s ease;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    border-radius: 30px;
    line-height: 45px;
    width: 200px;
}
.btn.btn_full {
    width: 100%;
}
.btn.btn_small {
    height: auto;
    width: auto;
    line-height: 40px;
}
.btn.btn_ghost {
    border: 1px solid #1a1a1a;
    color: #1a1a1a;
}
.btn.btn_round {
    background: #349B89; /* Old browsers */
    background: -moz-linear-gradient(left, #349B89 0%, #56c1b5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #349B89 0%, #56c1b5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #349B89 0%, #56c1b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22b573', endColorstr='#56c1b5',GradientType=1); /* IE6-9 */
    color: #fff;
    border: 1px solid transparent;
    font-size: 18px;
    text-transform: uppercase;
}
.btn.btn:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#22b573+0,56c1b5+100 */
    background: #349B89; /* Old browsers */
    background: -moz-linear-gradient(left, #349B89 0%, #56c1b5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #349B89 0%, #56c1b5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #349B89 0%, #56c1b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22b573', endColorstr='#56c1b5',GradientType=1); /* IE6-9 */
    color: #fff;
    border: #349B89 1px solid;
}
.btn.btn_round.btn_round_grey {
    background: #ccc;
    color: #333;
}
.btn.btn:active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#22b573+0,56c1b5+100 */
    background: #349B89; /* Old browsers */
    background: -moz-linear-gradient(left, #349B89 0%, #56c1b5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #349B89 0%, #56c1b5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #349B89 0%, #56c1b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22b573', endColorstr='#56c1b5',GradientType=1); /* IE6-9 */
}
.btn_round.btn_round:hover {
    border: 1px solid #349B89;
    background: none;
    color: #349B89;
}
.btn.btn_round.btn_round_grey:hover {
    color: #349B89;
    border: 1px solid #349B89;
}
.btn.btn_menu {
    border: 2px solid #fff;
    margin: 7px 8px;
    padding: 0 22px;
}

.btn.btn_mobile {
    display: none;
}
.btn.btn_round_fh {
    position: relative;
    z-index: 22;
}
.btn.btn_ghost_fh,
.btn.btn_round_fh {
    height: 40px;
}
.btn.btn_ghost_fh:hover {
    background: none;
    border: 2px solid #333;
    color: #333;
}

.btn.btn_video {
    background: url('../images/video_icon.svg') left center no-repeat;
    background-size: 40px 40px;
}
.btn.btn_video:hover {
    background: url('../images/video_icon.svg') left center no-repeat;
    background-size: 40px 40px;
    border: none;
    color: #349B89;
}
/**********************
Backgrounds starts
**********************/
.lgreybg {
    background: #eee;

}
